* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.player-board {
    /* display: grid;
    grid-template-columns: repeat(10, 2em);
    grid-template-rows: repeat(10, 2em); */
    display: flex;
    align-items: end;
}

table {
    border-collapse: collapse;
}

thead {
    padding-left: 2em;
}

th {
    width: 32px;
}

.square {
    width: 32px;
    height: 32px;


}

.square-occupied {
    border: 2px solid #00f;
}

.square-unoccupied {
    border: 1px solid #b4b4ff;
}

.number-order {
    height: 32px;
    line-height: 32px;
}

.axis-y {
    padding-right: 10px;
}